@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-grayish-blue);
    font-family: 'Manrope';
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    display: flex;
    height: 422px;
    border-radius: 15px;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
}

.left .drawers{
    width: 422px;
    height: 422px;
    border-radius: 15px 0 0 15px;
}

.right{
    width: 680px;
    padding: 40px 55px;
    p{
        color: var(--desaturated-dark-blue);
        font-size: 20px;
        font-weight: 500;
    }
}

h1{
    color: var(--very-dark-grayish-blue);
    font-size: 32px;
    margin-bottom: 25px;
}



.paragraph{
    margin-top: 18px;
}

.down_right{
    display: flex;
    margin-top: 45px;
}

.avatar{
    width: 11%;
    border-radius: 50%;
}

.text{
    margin-top: 3px;
    margin-left: 30px;
    font-size: 20px;
}

h3{
    color: var(--very-dark-grayish-blue);
    font-weight: 800;
}

h4{
    color: var(--grayish-blue);
    margin-top: 5px;
}

.circle_icon_share{
    width: 50px;
    height: 50px;
    background-color: var(--light-grayish-blue);
    border-radius: 50%;
    padding: 13px 0 0 18px;
    margin: 10px 0 0 249px;
    cursor: pointer;
}

.circle_icon_share:hover{
    background-color: var(--very-dark-grayish-blue);
    .icon_share{
        filter: brightness(100);
    }
}

.icon_share{
    scale: 1.50;
}

.share{
    position: absolute;
    background-color: var(--very-dark-grayish-blue);
    display: none;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    top: 510px;
    right: 365px;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
}
.share::after{
    content: '';
    position: absolute;
    bottom: -15px;
    z-index: 2;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: var(--very-dark-grayish-blue) transparent transparent transparent;
    transform: rotate(0deg);
}

.share img{
    width: 20px;
    height: 20px;
    margin: 0 8px;
}

.share p{
    font-size: 13px;
    color: white;
    font-weight: lighter;
    letter-spacing: 6px;
}

@media screen and (max-width: 376px){
    body{
        padding: 0 25px;
    }
    .container{
        flex-direction: column;
        width: 100%;
        height: 500px;
        .left{
            width: 100%;
            img{
                width: 100%;
                height: 225px;
                border-radius: 15px 15px 0 0;
            }
        }
        .right{
            width: 100%;
            padding: 20px 30px;
            p{
                font-size: 12px;
            }
        }
    }
    h1{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .text{
        font-size: 12px;
    }
    .circle_icon_share{
        padding: 0;
        margin: 0 0 0 45px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .avatar{
        width: 35px;
        height: 35px;
    }
    .down_right{
        align-items: center;
    }
    .icon_share{
        scale: 1;
    }
    .share{
        width: 325px;
        height: 75px;
        top: 610px;
        right: 25px;
        border-radius: 0 0 10px 10px;
        justify-content: start;
        padding: 0 25px;
    }
    .share::after{
        content: none;
    }
}